.content-wrapper {
  .content {
    &-full {
      padding: 0;
    }
  }
}

.container {
  &-full {
    padding: 0;
  }
}

.layout-fixed {
  .main-sidebar {
    bottom: auto;
    min-height: calc(100% - 57px);
    height: calc(100% - 57px);
  }
}

body:not(.sidebar-mini-md) {
  .main-footer {
    @include media-breakpoint-up(md) {
      transform: none;
      margin-left: 0;
    }

    @include media-breakpoint-down(md) {
      &,
      &::before {
        margin-left: 0;
      }
    }
  }
}
